<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.database.mapper.VoltageCurveMapper">

    <resultMap id="BaseResultMap" type="com.example.database.domain.VoltageCurve">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="time" column="time" jdbcType="TIMESTAMP"/>
            <result property="voltage" column="voltage" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,time,voltage
    </sql>
</mapper>
